<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>teamID</key>
<string>KB2YLKD9K6</string>
<key>method</key>
<string>app-store</string>
<key>provisioningProfiles</key>
    <dict>
        <key>com.designhubz.tryOnExample</key>
        <string>match AppStore com.designhubz.tryOnExample</string>
</dict>
</dict>
</plist>